// header {
//    background-color: $color-dark-1;
//    // margin-bottom: $mg-2;
//    height: 80px;

//    .navbar {
//       padding-top: $pd-3;
//    }

//    .navbar-brand {
//       @include style-text($color-text-1, $fs-3, $fw-3);
//    }
//    .navbar-nav {
//       .nav-item {
//          .nav-link {
//             @include style-text($color-text-1, $fs-3, $fw-2);
//          }
//       }
//    }
// }

//table

header {
   .navbar {
      padding: 0.5rem 7rem;

      .navbar-brand {
         @include style-text($color-text-1, $fs-3, $fw-3);
      }

      .navbar-nav {
         width: 100%;

         .nav-link {
            @include style-text($color-text-1, $fs-3, $fw-2);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transition: all 0.3s;

            &:hover {
               color: $color-white;
               transform: scale(1.2);
            }

            i {
               font-size: 30px;
            }
         }
      }
   }
}

@media (min-width: 992px) {
   header .nav-item:nth-of-type(2) {
      margin-right: auto;
   }
}
