* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  color: #313131 !important;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
}

.navbar {
  padding-top: 15px;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
}

header .navbar {
  padding: 0.5rem 7rem;
}
header .navbar .navbar-brand {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
}
header .navbar .navbar-nav {
  width: 100%;
}
header .navbar .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
}
header .navbar .navbar-nav .nav-link:hover {
  color: #fff;
  transform: scale(1.2);
}
header .navbar .navbar-nav .nav-link i {
  font-size: 30px;
}

@media (min-width: 992px) {
  header .nav-item:nth-of-type(2) {
    margin-right: auto;
  }
}
footer {
  background-image: linear-gradient(#1e2663, #9a3054);
  color: #fff;
  font-size: 16px;
}
footer .footer__top {
  text-align: center;
  padding: 1.5rem 0;
}
footer .footer__top span {
  margin-right: 2rem;
}
footer .footer__top a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
footer .footer__mid {
  padding: 1rem 7rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
footer .footer__mid h6 {
  margin-bottom: 1rem;
}
footer .footer__mid ul {
  list-style-type: none;
}
footer .footer__mid ul li {
  margin-bottom: 1rem;
}
footer .footer__mid ul li i {
  margin-right: 1rem;
}
footer .footer__mid ul li a {
  color: #fff;
  text-decoration: none;
}
footer .footer__bottom {
  text-align: center;
  padding: 1rem 0;
}
footer .footer__bottom a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.admin {
  padding: 0 7rem;
}

.myCardHeader {
  background-color: #60679b;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  margin-top: 70px;
}
.myCardHeader .text-left {
  color: #ffffff !important;
}
.myCardHeader .text-right .btn {
  background-color: #244350;
  color: #ffffff;
}

.home {
  background-image: url(https://shopping-cart-demo2.vercel.app/customer/view/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.home .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.home .container a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.home .container a:hover h2::after {
  width: 100%;
}
.home .container a img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background-color: #fff;
  border-radius: 70px;
  margin-bottom: 20px;
}
.home .container a h2 {
  display: inline-block;
  color: #f3ce5e;
}
.home .container a h2::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: #f3ce5e;
  transition: all 0.3s;
}